.ishopTable {
  margin: 0 auto;
  border-spacing: 2px;
  border: 1px solid black;
}
.item_image {
  width: 150px;
}

.ishopTable th, .ishopTable td {
  text-align: center;
  background: rgb(235, 234, 232);
  padding: 5px;
}
.ishopTable .caption {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
